* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-object-fit {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}
/*header*/

header .test {
    background-color: lightskyblue;
}

.english {
    border-right: grey solid 1px;
    margin-right: 10px;
}

.menu .login {
    color: coral;
    border: 1px solid coral;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.button {
    border-radius: 5px;
    background-color: coral;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.menu-left {
    width: 20%;
}

.menu-right {
    width: 100%;
    text-align: right;
    line-height: 20px;
}

hr {
    width: 100%;
    color: grey;
}

.logo {
    width: 10%;
}

nav {
    width: 100%;
    padding: 20px;
    display: block;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu .menu-right {
    text-align: right;
}

.menu li a {
    text-decoration: none;
    color: lightslategrey;
    margin-right: 15px;
    display: inline-block;
}

.banner {
    background-image: url("../img/jumbotron.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
}

.teaser {
    width: 40%;
    padding-top: 5%;
    padding-left: 10%;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.teaser h3 {
    font-size: 15px;
    margin-bottom: 30px;
}

.teaser .button {
    padding: 20px 40px;
    margin-bottom: 30px;
}




/*main*/

main {
    background-color: #d1d3d4;
}

main .container {
    margin-bottom: 50px;
}

.row-one {
    padding: 30px;
    margin: auto;
    color: rgb(11, 44, 71);
    text-align: center;
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

h4 {
    width: 50%;
    margin: auto;
    font-size: 18px;
}

.row-one img {
    width: 15%;
    margin: auto;
}

.row-two {
    width: 100%;
    background-color: white;
}

.row-two .col-left{
    padding-left: 10%;
    background-color: white;
}

.fa-check-circle {
    color: coral;
    margin-right: 15px;
}

.row-three .col-left, .col-center, .col-right {
    width: 30%;
    background-color: white;
    margin-top: 30px;
    border-radius: 1%;
}

.row-three .col-center {
    margin-left: 5%;
    margin-right: 5%;
}

.row-three .text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin-top: 30px;
    margin-bottom: 40px;
}

hr {
    width: 80%;
    color: grey;
    font-size: 2px;
    margin: auto;
    margin-bottom: 30px;
}

.offers {
    margin-top: 25px;
    text-align: left;
    margin-left: 10%;
}

.offers li {
    display: block;
}

.button-learn-more {
    padding: 20px 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}







/*parte con il gradiente*/

.gradient {
    background-color: lightseagreen;
    height: 600px;
}