* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}
/*main*/

header .test {
    background-color: lightskyblue;
}

.menu .login {
    color: coral;
    border: 1px solid coral;
    padding: 10px 20px;
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    background-color: coral;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.menu-left {
    width: 20%;
}

.menu-right {
    width: 20%;
    margin-left: 50%;
}

hr {
    width: 100%;
    color: grey;
}

.logo {
    width: 10%;
}

nav {
    width: 100%;
    padding: 20px;
    display: block;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: lightslategrey;
    margin-right: 15px;
    display: inline-block;
}

main {
    background-color: #d1d3d4;
}

.row-one {
    padding: 30px;
    margin: auto;
    color: rgb(11, 44, 71);
    text-align: center;
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

h4 {
    width: 50%;
    margin: auto;
    font-size: 18px;
}

.row-one img {
    width: 15%;
    margin: auto;
}